<div class="tiempo-entrega">

  <div>

    <ion-list>
      <ion-radio-group (ionChange)="valueChange($event)" value="lap">
        <ion-list-header>
          <ion-label>Tiempo de Entrega</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Lo Antes Posible</ion-label>
          <ion-radio slot="start" value="lap"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Pedido Programado</ion-label>
          <ion-radio slot="start" value="ppp"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <div *ngIf="showPedidoProgramado">
      <ion-button fill="clear" (click)="pickADate()">FECHA</ion-button>
      <ion-button fill="clear" (click)="pickATime()">Hora</ion-button>
      <div style="width: 100%;">
        <ion-label color="danger" *ngIf="getDateError() && getDateError().required">Seleccione una
          fecha por favor</ion-label>
      </div>
      <div style="width: 100%;">
        <ion-label color="danger" *ngIf="getTimeErrors() && getTimeErrors().required">Seleccione
          una hora por favor</ion-label>
      </div>
    </div>
  </div>
  <div>
    <span *ngIf="date">Entregar el {{ formatDate(date) }}</span>
    <span *ngIf="time">A las {{ formatTime(time) }}</span>
  </div>
  <div>
    <ion-button expand="full" (click)="listo()">LISTO</ion-button>
  </div>
</div>