<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Deilvery Eat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Delivery Eat</ion-title>
    </ion-toolbar>
  </ion-header> 
    <div style="padding: 20px;" *ngFor="let order of orders">
      <span>Orden #{{order.id}}</span>
    </div>

</ion-content>
<div class="place-order">
  <ion-button expand="full" class="place-order__button" (click)="hacerUnPedido()">Crear Orden</ion-button>
</div>
  